Importing datasets

In [2]:
import io
import pandas as pd
df=pd.read_csv("/content/new_train.csv",na_values=" ")
df.head()

         date  temp
0  01-01-1980  4.16
1  02-01-1980  4.06
2  03-01-1980  7.12
3  04-01-1980  9.23
4  05-01-1980  3.20

In [3]:
import io
import pandas as pd
df1=pd.read_csv("new_test.csv",na_values=" ")
df1.head()

         date
0  01-01-2011
1  02-01-2011
2  03-01-2011
3  04-01-2011
4  05-01-2011

preprocessing data

In [4]:
df["date"]=df['date'].str.replace('-','').str.strip(' ').astype(float)

In [5]:
df1["date"]=df1['date'].str.replace('-','').str.strip(' ').astype(float)

In [6]:
df.head()

        date  temp
0  1011980.0  4.16
1  2011980.0  4.06
2  3011980.0  7.12
3  4011980.0  9.23
4  5011980.0  3.20

In [7]:
df1.head()

        date
0  1012011.0
1  2012011.0
2  3012011.0
3  4012011.0
4  5012011.0

splitting dataset

In [8]:
desfac=["date"]
train_data=df[desfac]
test_data=df1[desfac]
target=df.temp

training two models

In [18]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(train_data, target)

In [9]:
import xgboost as xg
l=xg.XGBRegressor(n_estimators=1000,learning_rate=0.05)
l.fit(train_data,target)

[12:02:20] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.05, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=1000,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

prediction

In [19]:
lr=reg.predict(test_data)

In [10]:
data=l.predict(test_data)

In [11]:
df1["pred temp"]=data
df1

            date  pred temp
0      1012011.0   4.725494
1      2012011.0   5.634181
2      3012011.0   6.318233
3      4012011.0   6.500718
4      5012011.0   6.150519
...          ...        ...
3556  26092020.0  19.539307
3557  27092020.0  17.575445
3558  28092020.0  20.271221
3559  29092020.0  19.047461
3560  30092020.0  18.526087

[3561 rows x 2 columns]

In [20]:
df1["pred lr"]=lr

In [21]:
len(df)

11323

In [13]:
len(df1)

3561

Evaluation

In [22]:
data1=df.iloc[:3561,1]
data2=df1.iloc[:3561,1]
data3=df1.iloc[:3561,2]

Xgbregressor

In [24]:
from sklearn.metrics import mean_squared_error
mean_squared_error(data1,data2)

8.9938306777278

In [23]:
from sklearn.metrics import r2_score,mean_absolute_error
mean_absolute_error(data1,data2)

2.396727361247902

In [17]:
r2_score(data1,data2)

0.8599057609226315

linear regression evaluation

In [26]:
mean_squared_error(data1,data3)

64.52975623843254

In [27]:
mean_absolute_error(data1,data3)

6.990609063263566

In [28]:
r2_score(data1,data3)

-0.005160917745363314

- conclusion

Xgbregressor model is best